<!DOCTYPE html>
<html>
<head>
    <title>Flask Navigation App</title>
</head>
<body>
    <h1>Chọn chức năng</h1>
    <form action="/noi-dung-ngu-nghia">
        <button type="submit">Nội dung ngữ nghĩa</button>
    </form>
    <form action="/ngu-dieu-1">
        <button type="submit">Ngữ điệu</button>
    </form>
    <form action="/ngu-dieu-2">
        <button type="submit">Ngữ điệu</button>
    </form>
    <form action="/kieu-giong-noi">
        <button type="submit">Kiểu giọng nói</button>
    </form>
</body>
</html>
